h1 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-style: normal;
}
p{
    text-align: center;
    font-size: 30px;
    font-style: normal;
}

button { 
    text-align: center;
    color: black;
    
    
}

#hate-crimes {
    text-align: center;
}