body {
    background-color: white;
}

h1{
    text-align: center;
}

p {
    font-weight: bold;
    font-style: normal;
    font-family: helvetica, serif;
    font-size: 30px;
    color: red;
}

button {
    background-color:black;
    border-color: black;
    
}

#questions {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}

#submit {
    font-family: helvetica, serif;
    font-style: italic;
    font-size: 15px;
    color: white;
}

